<!DOCTYPE html>
<html>
<head>
  <title>Kindy Winkles. Art • Music • Care
  </title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<%= favicon_link_tag 'favicon.ico' %>

<% icon_sizes = ['60x60', '76x76', '120x120', '120x120', '152x152'] %>

<% icon_sizes.each do |icon_size| %>
        <%= favicon_link_tag "apple-touch-icon#{icon_size}.png",
                             rel: 'apple-touch-icon',
                             sizes: icon_size %>

    <% end %>

    <body>

<%= yield %>


</body>



</html>
