<!DOCTYPE html>
<html>
<head>
  <title>Kindy Winkles. Art • Music • Care
  </title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<%= favicon_link_tag 'favicon.ico' %>

<%= favicon_link_tag 'apple-touch-icon60x60.png', rel: 'apple-touch-icon',
                     sizes: '60x60' %>

<%= favicon_link_tag 'apple-touch-icon76x76.png', rel: 'apple-touch-icon',
                     sizes: '76x76' %>

<%= favicon_link_tag 'apple-touch-icon120x120.png', rel: 'apple-touch-icon',
                     sizes: '120x120' %>

<%= favicon_link_tag 'apple-touch-icon120x120.png', rel: 'apple-touch-icon',
                     sizes: '152x152' %>


<body>

<%= yield %>

</body>
</html>
