<!DOCTYPE html>
<html>
<head>
  <title>Kindy Winkles. Art • Music • Care
  </title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<%= favicon_link_tag 'favicon.ico' %>

<% icon_sizes = ['60x60', '76x76', '120x120', '120x120', '152x152'] %>

<% icon_sizes.each do |icon_size| %>
        <%= favicon_link_tag "apple-touch-icon#{icon_size}.png",
                             rel: 'apple-touch-icon',
                             sizes: icon_size %>

    <% end %>

<body>

<%= yield %>



<script>

    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-41033735-1', 'kindywinkles.com');
    ga('send', 'pageview');


</script>

</body>



</html>
